<!DOCTYPE html>
<html>
<head>
  <title>Garage</title>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!--  Bootsrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <!-- Application CSS files here-->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

  <!-- jquery -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- Application JS files here -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Garage</h1>
      <p class="lead"></p>
    </div>
  </div>

<!-- Nav for filtering vehicle categories -->
  <nav class="navbar navbar-dark bg-dark">
    <form class="form-inline nav-filter-form">
      <button class="btn btn-outline-info categories-nav-btn" id="muscle-nav-btn" type="button" value="Muscle" name="Muscle">Muscle</button>
      <button class="btn btn-outline-info categories-nav-btn" id="exotic-nav-btn" type="button" value="Exotic" name="Exotic">Exotic</button>
      <button class="btn btn-outline-info categories-nav-btn" id="suv-nav-btn" type="button" value="SUV" name="SUV">SUV</button>
      <button class="btn btn-outline-info categories-nav-btn" id="luxury-nav-btn" type="button" value="Luxury" name="Luxury">Luxury</button>
      <button class="btn btn-outline-info categories-nav-btn" id="pickup-nav-btn" type="button" value="Pick-up" name="Pick-up">Pick-up</button>
      <button class="btn btn-outline-info categories-nav-btn" id="sport-nav-btn" type="button" value="Sport" name="Sport">Sport</button>
      <button class="btn btn-outline-info categories-nav-btn" id="sedan-nav-btn" type="button" value="Sedan" name="Sedan">Sedan</button>
    </form>  
  </nav>

<!-- Add new vehicle section -->
  <div id="accordion" role="tablist">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Click to add new vehicles!
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <form id="add-new-vehicle-form">
            <div class="row">
              <!-- text input fields -->
              <div class="col-md-6">
                <ul>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <label for="make">Make</label>
                      <input name="make" type="text" id="make">
                    
                      <label for="model">Model</label>
                      <input name="model" type="text" id="model">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 text-center">
                      <label for="year">Year</label>
                      <input name="year" type="number" id="year">

                      <label for="color">Color</label>
                      <input name="color" type="text" id="color">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <label for="image">Image</label>
                      <input name="image" type="text" id="image">
                    </div>
                  </div>
                </ul>
              </div>
          <!-- Category selections -->
              <div class="col-md-6">
                <h4>Add vehicle categories</h4>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                  <input name="categories[0][name]" class="form-check-input" type="checkbox" id="checkbox1" value="Luxury">Luxury
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                  <input name="categories[1][name]" class="form-check-input" type="checkbox" id="checkbox2" value="Sport">Sport
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                  <input name="categories[2][name]" class="form-check-input" type="checkbox" id="checkbox3" value="Muscle">Muscle
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                  <input name="categories[3][name]" class="form-check-input" type="checkbox" id="checkbox4" value="Exotic">Exotic
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                  <input name="categories[4][name]" class="form-check-input" type="checkbox" id="checkbox5" value="SUV">SUV
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                  <input name="categories[5][name]" class="form-check-input" type="checkbox" id="checkbox6" value="Pick-up">Pick-up
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                  <input name="categories[6][name]" class="form-check-input" type="checkbox" id="checkbox7" value="Sedan">Sedan
                  </label>
                </div>
              </div>

              <button id="add-new-vehicle-button" class="btn btn-success">Add new vehicle</button>
            </div>
          </form>

      <!-- End card body class -->
      </div>
    <!-- End collapseOne -->
    </div>
    <!-- End card -->
  </div>
<!-- End accordian -->
</div>

<section class="container">
  <div class="row all-vehicles">


  </div>
</section>



</body>
</html>