.jumbotron {
  background-image: url(../images/car_jumbo_cropped.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.jumbotron .container {
  height: 350px;
}

h1 {
  color: yellow;
  text-decoration: underline;
  text-decoration-color: #17a2b8;
  font-size: 90px;
}

.vehicle-image {
	height: 210px;
	width: 320px;
  border-radius: 20px;
}

.whole-vehicle-card {
  margin: 10px;
  border-radius: 20px;
}

.categories-nav-btn, #all-categories-btn {
  align-content: center;
  padding: 5px 20px;
  margin-right: 50px;
}

.edit-btn, .delete-btn, .save-btn  {
  margin: 10px;
  width: 100px;
  border-radius: 20px;
  align-self: center;
}

#image {
  width: inherit;
  margin-left: 0px;
}

.input-label {
  margin: 5px 10px 15px 30px;
}

#add-new-vehicle-button {
  margin-left: auto;
  margin-right: 50px;
}

.btn-block {
  width: auto;
  height: auto;
  margin: -1px -1px;
}

.card-header:first-child {
  border-radius: 0px;
}

.edit-modal-image-field-row {
  margin-bottom: 20px;
}

.edit-modal-fields {
  margin: 5px;
}

.edit-modal-field-labels {
  margin-top: 8px;
  margin-bottom: 0px;
}




