.jumbotron {
  background-image: url("http://www.ismotors.com/graphics/home/ism-clean-auto-shop-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron .container {
  height: 250px;
}

h1 {
  color: black;
  font-size: 85px;
}