.jumbotron {
  background-image: url(../images/car_jumbo_cropped.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.jumbotron .container {
  height: 350px;
}

h1 {
  color: yellow;
  font-size: 90px;
}

.vehicle-image {
	height: 210px;
	width: 320px;
  border-radius: 20px;
}

.whole-vehicle-card {
  margin: 10px;
  border-radius: 20px;
}

.categories-nav-btn {
  align-content: center;
  padding: 5px 20px;
  margin-right: 50px;
}

.edit-btn, .delete-btn, .save-btn  {
  margin: 10px;
  width: 100px;
  border-radius: 20px;
  align-self: center;
}