.jumbotron {
  background-image: url("http://www.orlandospeedworld.org/wp-content/uploads/2016/03/car1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.jumbotron .container {
  height: 350px;
}

h1 {
  color: yellow;
  font-size: 90px;
}

